<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="data:,">
    <title>About</title>
</head>
<body>
    <h2>About</h2>
    <p>This is a simple app to predict the turbulent inflow noise source for airfoils under
        any flow conditions. This app is authored by <a href="https://www.linkedin.com/in/alexandremfaria/">Alexandre Martuscelli Faria</a>
        and it is intellectual property of <a href="https://sites.usp.br/poli-wind/">Poli-Wind</a> initiative from University of São Paulo.
        For any other relevant information, please refer to Alexandre over the e-mail <a href="mailto:martuscellifaria@gmail.com">martuscellifaria@gmail.com</a>.
    </p>
    <a href="http://ec2-54-167-116-126.compute-1.amazonaws.com:8888/">Back to other simulation</a>
</body>
</html>